/* ADMIN */

/* main container */
.listado__productos {
    margin-top: var(--spacing-36);
    margin-bottom: var(--spacing-36);

}

/* search */
.buscador {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    margin-bottom: var(--spacing-36);
}

.buscador img {
    width: 5rem;
}

.buscador input {
    font-family: var(--base-font);
    font-size: var(--font-large);
    border-radius: 6px;
    width: 53rem;
    height: 4.5rem;
    padding-left: 1rem;
}



/* list table */
.encabezado__lista__productos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-36);
}

.encabezado__lista__productos h2 {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
}

.encabezado__lista__productos div {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.encabezado__lista__productos div h3 {
    font-size: var(--font-large);
}

.encabezado__lista__productos div i {
    font-size: 3.9rem;
    cursor: pointer;
}

.encabezado__lista__productos div i:hover {
    scale: 1.1;
}

.admin__table-line {
    height: 6rem;
}

.listado__productos table {
    width: 100%;
}

.tabla__productos {
    font-size: var(--font-large);
    font-weight: 500;
    /* line-height: 6.096rem; */
}

.primera__fila th {
    text-align: start;
    font-weight: 700;
    padding-bottom: 1rem;
}

.admin__item-category-name {
    text-transform: uppercase;
}


thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 45%;
}

thead th:nth-child(4) {
    width: 15%;
}

thead th:nth-child(5) {
    width: 10%;
}

thead th:nth-child(6) {
    width: 5%;
}

.admin__table-icon {
    text-align: end;
    cursor: pointer;
}

.admin__table-icon img {
    width: 3.5rem;
}

.admin__table-icon img:hover {
    scale:1.1;
}


@media screen and (max-width: 480px) {
    .listado__productos {
        font-size: 80%;
    }
}