h1{
    margin: 2% 0%;
    font-family: var(--alternative-font);
    color: var(--font-jumbo);
    font-size: var(--font-jumbo);
}

main{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

select{
    max-width: 20%;
    font-size: var(--font-medium);
    --base-font: "Inter", sans-serif;
    border-radius: 6px;
    width: 53rem;
    height: 4.5rem;
}

label{
    font-size: var(--font-xlarge);
    --base-font: "Inter", sans-serif;
}

.editar-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2% 2% 2% 0%;
}

.agregar-imagen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.agregar-imagen input{
    margin: 0.7% 0% 0% 2%;
    
}

.editar-item input{
    border-color: transparent;
    border-bottom: 3px solid red;
    outline: none;
    --base-font: "Inter", sans-serif;
    width: 20%;
    font-size: var(--font-medium);
}

.input-numerico{
    width: 7%!important;
}

.editar-item{
    gap: var(--spacing-20);
}

textarea{
    width: 90%;
    resize: none;
    font-size: var(--font-xlarge);
    --base-font: "Inter", sans-serif;
}

div img{
    border-bottom: 3px solid red;
}

.imagenes{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 15%;
    gap: 10%;
    margin-top: 3%;
}

.imagen-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton{
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
    width: 24.2rem;
    height: 5rem;
    text-align: center;
    margin-top: var(--spacing-36);
    margin-bottom: 3%;
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
}

input{
    width: 70%;
}