.edit__main h1 {
    margin: 2% 0%;
    font-family: var(--alternative-font);
    color: var(--font-jumbo);
    font-size: var(--font-jumbo);
}

.edit__main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.edit__main select {
    max-width: 20%;
    font-size: var(--font-medium);
    /* --base-font: "Inter", sans-serif; */
    border-radius: 6px;
    width: 53rem;
    height: 4.5rem;
}

.edit__main label {
    /* font-size: var(--font-xlarge); */
    font-size: var(--font-large);
    /* --base-font: "Inter", sans-serif; */
}

.edit__main .editar-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2% 2% 2% 0%;
}

.edit__main .agregar-imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.edit__main .agregar-imagen input {
    margin: 0.7% 0% 0% 2%;

}

.edit__main .editar-item input {
    /* border-color: transparent; */
    border: none;
    /* border-bottom: 3px solid red; */
    border-bottom: 2px solid var(--primary-solid);
    outline: none;
    /* --base-font: "Inter", sans-serif; */
    width: 20%;
    font-size: var(--font-medium);
}

.edit__main .input-numerico {
    width: 7% !important;
}

.edit__main .editar-item {
    gap: var(--spacing-20);
}

.edit__main textarea {
    width: 90%;
    resize: none;
    /* font-size: var(--font-xlarge); */
    font-size: var(--font-large);
    /* --base-font: "Inter", sans-serif; */
    font-family: var(--base-font);
    padding: var(--spacing-8);
}

.edit__main div img {
    /* border-bottom: 3px solid red; */
    border-bottom: 1px solid var(--primary-solid);
}

.edit__main .imagenes {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 15%;
    gap: 10%;
    margin-top: 3%;
}

.edit__main .imagen-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__main .boton {
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-12);
    width: 24.2rem;
    height: 5rem;
    text-align: center;
    margin-top: var(--spacing-36);
    margin-bottom: 3%;
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
}

.edit__main input {
    width: 70%;
}