.login__main{
    display: flex;
    align-items: center;
}

.login__centrar {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-68) auto;
}

.login h2 {
    text-align: center;
    font-size: var(--font-jumbo);
    font-family: var(--alternative-font);
    margin-bottom: var(--spacing-68);
}

.login__datos {
    display: grid;
    grid-template-columns: 15rem 29rem;
    grid-template-rows: 1fr 1fr;
    margin-bottom: var(--spacing-36);
}

.login__error-message {
    color: var(--primary-solid);
    font-size: var(--font-xsmall);
    grid-column-start: 2;
    max-width: 29rem;
}

.login__datos label {
    font-size: var(--font-large);
}

.login__datos input {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    border: none;
    border-bottom: 2px solid var(--primary-900);
    padding: 0.5rem;
    outline: none;
}

.ingresar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--spacing-36);
}

.ingresar button {
    padding: var(--spacing-12) var(--spacing-28);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
}

.ingresar button:hover {
    background-color: var(--primary-900);
    scale: 1.05;
}

.ingresar label {
    font-size: var(--font-medium);
}


.ingresar div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login__checkbox {
    accent-color: var(--primary-solid);
    transform: scale(1.2);
}

.login .enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form a {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
}


@media screen and (max-width: 480px) {
    .login__main {
        font-size: 110%;
    }
}