<%- include('partials/header')%>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6352.061377168186!2d-122.21362906183806!3d47.980609922367634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549aaa9833ae2937%3A0x960b3c3454e6aba1!2sFunko%20Everett!5e0!3m2!1ses-419!2sar!4v1701030863575!5m2!1ses-419!2sar"
        width="100%" height="500rem" border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <main class="container contact">
       
        <div class="contact__data-container">

            
            <div>
                
                <h2>CONTACTO</h2>

                <h3>Teléfono</h3>

                <p>+1 425-783-3616</p>

                <h3>E-mail</h3>

                <p>contact@funko.com</p>
            </div>

            <div class="contact__location">
                <h3>Ubicación</h3>
                <p>2802 Wetmore Ave, Everett<br>WA 98201, Estados Unidos<br>
                    Lunes a Vienes<br>
                    10:30-14:00 / 15:00-19:00<br>
                    Sábados<br>
                    10:30-14:00 / 15:30-19:00
                </p>
            </div>


        </div>



    </main>


    <%- include('partials/footer')%>