<%- include('partials/header')%>

<main style="display: flex; flex-direction:column; justify-content: center;" class="container">

    <section class="collection">
        <article class="collection__content">
            <h3 class="collection__title">
                OOPS!
            </h3>
            <p class="collection__text">
                La página que buscás no existe.
            </p>
            <p class="collection__text">
                ERROR 404
            </p>
            <div class="collection__line"></div>
            <a class="collection__link" href="/home">PÁGINA PRINCIPAL</a>
        </article>
        <picture class="collection__cover">
            <img src="/img/error404.webp" alt="Error 404">
        </picture>
    </section>


</main>


<%- include('partials/footer')%>
