<%- include('../partials/header')%>

    <main class="container login__main"> <!-- login -->
        <div class="login">
            <h2>INGRESAR A MI CUENTA</h2>

            <form action="" method="post">

                <div class="login__centrar login__datos">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" placeholder="roman@gmail.com" autocomplete="email">
                    <p class="login__error-message">
                        <%= emailMessage %>
                    </p>

                </div>

                <div class="login__centrar login__datos">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" placeholder="roman123">
                    <p class="login__error-message">
                        <%= passwordMessage %>
                    </p>
                </div>

                <div class="login__centrar ingresar">
                    <button class="boton" type="submit">Ingresar</button>
                    <div>
                        <input class="login__checkbox" type="checkbox" id="recordarme" name="recordarme">
                        <label for="recordarme">Recordarme</label><br>
                    </div>
                </div>

                <a class="enlace" href="">Olvidé mi contraseña</a>
            </form>

        </div>
    </main>

    <%- include('../partials/footer')%>