/* SHOP  */

#shop {
    display: flex;
}

/* SHOP FILTERS */

.shop__filters {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
    margin-top: var(--spacing-68);
    min-width: 243px;
}

.shop__filters-title {
    margin-bottom: var(--spacing-12);
    font-size: var(--font-large);
    font-weight: 500;
    display: block;
}

#search,
#orderby {
    width: 100%;
    font-size: var(--font-medium);
    padding: var(--spacing-8);
    border-radius: 6px;
    border-width: 2px;
}

.shop__filters-minmax {    
display: flex;
align-items: center;
gap: 10px;
}

.shop__filters-minmax>label {
    font-size: var(--font-small);
    font-weight: 500;
}

#min,
#max {
    text-align: center;
    font-size: var(--font-medium);
    border-radius: 6px;
    width: 65px;
}

.shop__filters-checkboxes {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 2em auto;
    gap: 0.7em;
}

.shop__filters-checkboxes>label {
    font-size: var(--font-medium);
    font-weight: 500;
}


/* SHOP ITEMS */

.shop__items {
    margin-top: var(--spacing-68);
    margin-bottom: var(--spacing-68);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-28);
}

.shop__item {
    flex: 1 1 clamp(200px, 30%, 30%);
    /* 30% DEL PADRE */
    /* flex-grow / flex-shrink / flex-basis */
    /* clamp -> ancho mínimo / ideal / máximo */
}